.posts_container,
.userPost_header,
.userPost_header_username,
.userPost_container,
.userPost_header_username,
.userPost_text_actions {
  display: flex;
}

.posts_container {
  padding: 0 0.5em 0.5em 0.5em;
  border: 1px solid gray;
}

.userPost_container {
  flex-direction: column;
  flex: 1;
}

.userPost_header,
.userPost_header_username {
  align-items: center;
}

.userPost_header {
  justify-content: space-between;
}

.userPost_text_actions_item {
  flex: 1;
}

.userPost_header_username {
  width: 80%;
}

.editInputTitle {
  flex: 1;
  margin-left: 1em;
}

.editBodyButtonContainer {
  display: flex;
  justify-content: space-between;
}

.editPostButton {
  background-color: rgb(29, 161, 242);
  border: none;
  padding: 0.5em 2em;
  border-radius: 100px;
  color: white;
  font-weight: 300;
  margin: 1em;
}
